<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %> 
<body>
    <%- include('./partials/nav.ejs') %> 

    <div class="details">


        <div class="details__item content">
            <div class="list__item">
                <div class="list__item__row">
                    <h3 class="title"><%= item.name%></h3>
                    <p class="expiration"><%= item.expiryDate%></p>
                </div>
                <div class="list__item__row">
                    <p class="category"><%= item.category%></p>
                </div> 
            </div>
            <a class="details__delete-btn" data-doc="<%= item._id %>">delete</a>
        </div> 
    </div>


    <script>
        const deleteBtn = document.querySelector('.details__delete-btn')

        deleteBtn.addEventListener('click', (e) => {
            fetch(`/list/${deleteBtn.dataset.doc}`, {
                method: 'DELETE'
            })
            .then((response) => response.json())
            .then((data) => window.location.href = data.redirect)
            .catch(err => console.log("error: ", err))
        })
    </script>
</body>
<%- include('./partials/footer.ejs') %> 
</html>