<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %> 
<body>
    <%- include('./partials/nav.ejs') %> 

    <div class="fridge-list content">
        <h1>Fridge List</h1>

        <div class="list">
            <% if (list.length > 0) { %>
                <% list.forEach(item => { %>
                    <a class="list__item" href="/list/<%= item._id %>">
                        <div class="list__item__row">
                            <h3 class="title"><%= item.name%></h3>
                            <p class="expiration"><%= item.expiryDate%></p>
                        </div>
                        <div class="list__item__row">
                            <p class="category"><%= item.category%></p>
                            <p><% (item.isFridge) %></p>
                        </div> 
                    </a>
                <% }); %> 
            <% } else { %>
                <p>No items on the list yet</p>
                <a href="/list/add">Add new food to fridge list</a>  
            <% } %> 
        </div>
    </div>
</body>
<%- include('./partials/footer.ejs') %> 
</html>